<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col s3">
                <p>Create a Job</p>
        </div>
        <div class="col s6"></div>   
        <div class="col s3">
            <p><a href = "/dashboard">Back</a>   <a href="/logout">Logout</a></p>
            </div>   
        </div>
    
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

    <div class="row">
        <form class="col s8" action="/create_process" method="post"> 
                {% csrf_token %}   
    
            <div class="row">
                <div class="input-field col s8">
                        <input type="text" name="title">
                    <label for="title">Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <textarea class='materialize-textarea' name="description"></textarea>
                    <label for="description">Description</label>
                </div>
                </div>
            
            <div class="row">
                <div class="input-field col s8">
                        <input type="text" name="location">
                    <label for="location">Location</label>
                </div>
                </div>
            
            <div class="row">
            <div class="input-field col s8">
                <button class="btn waves-effect waves-light" type="submit">Submit
                </button>
              
            </div>
            </div>

        </form>
    </div>




</div>
    
</body>
</html>